<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.socuul.alfred.expressvpn</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>177039CF-0717-4E00-9FE3-69F90DD802A6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EAE49846-816C-47CD-91C1-1B94217FA617</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>483C6FB4-737D-46A0-8E6F-07B20BDF3141</key>
		<array/>
		<key>778C569E-13DE-4E9E-B483-91B012C4D415</key>
		<array/>
		<key>96E91659-9CCC-4F82-8191-CBD36B1E273B</key>
		<array/>
		<key>EAE49846-816C-47CD-91C1-1B94217FA617</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>483C6FB4-737D-46A0-8E6F-07B20BDF3141</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>4A35D7A2-B9B9-4E87-AE80-AE85966428AC</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>09EF000E-1E31-48C2-A755-86C0ECF13DC4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>4A35D7A2-B9B9-4E87-AE80-AE85966428AC</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>09EF000E-1E31-48C2-A755-86C0ECF13DC4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>4D28DD29-FE91-4008-8C8D-99D35715F66C</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>778C569E-13DE-4E9E-B483-91B012C4D415</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>4D28DD29-FE91-4008-8C8D-99D35715F66C</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>96E91659-9CCC-4F82-8191-CBD36B1E273B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>415614C6-E9BD-4DF1-9E68-FE531501F6CB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>SoCuul</string>
	<key>description</key>
	<string>Manage your ExpressVPN connection</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>ExpressVPN</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>on run
  tell application "ExpressVPN" to disconnect
end run</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>483C6FB4-737D-46A0-8E6F-07B20BDF3141</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Disconnected from VPN server</string>
				<key>title</key>
				<string>ExpressVPN Disconnected</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>09EF000E-1E31-48C2-A755-86C0ECF13DC4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>vpn</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Fetching servers...</string>
				<key>script</key>
				<string>./node_modules/.bin/run-node index.js "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Connect to/from VPN server</string>
				<key>title</key>
				<string>ExpressVPN Connection</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>177039CF-0717-4E00-9FE3-69F90DD802A6</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>on run
  tell application "ExpressVPN" to quit
end run</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>778C569E-13DE-4E9E-B483-91B012C4D415</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{query}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>Disconnect</string>
						<key>outputlabel</key>
						<string>Disconnect</string>
						<key>uid</key>
						<string>4A35D7A2-B9B9-4E87-AE80-AE85966428AC</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>Quit</string>
						<key>outputlabel</key>
						<string>Quit</string>
						<key>uid</key>
						<string>4D28DD29-FE91-4008-8C8D-99D35715F66C</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>{query}</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>EAE49846-816C-47CD-91C1-1B94217FA617</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>on run
  	tell application "ExpressVPN"
		activate
		disconnect			delay 1			connect "{query}"	end tell
end run</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>96E91659-9CCC-4F82-8191-CBD36B1E273B</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Connected to: {query}</string>
				<key>title</key>
				<string>ExpressVPN Connected</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>415614C6-E9BD-4DF1-9E68-FE531501F6CB</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>09EF000E-1E31-48C2-A755-86C0ECF13DC4</key>
		<dict>
			<key>note</key>
			<string>Disconnected
Notification</string>
			<key>xpos</key>
			<real>610</real>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>177039CF-0717-4E00-9FE3-69F90DD802A6</key>
		<dict>
			<key>xpos</key>
			<real>80</real>
			<key>ypos</key>
			<real>200</real>
		</dict>
		<key>415614C6-E9BD-4DF1-9E68-FE531501F6CB</key>
		<dict>
			<key>note</key>
			<string>Connected
Notification</string>
			<key>xpos</key>
			<real>610</real>
			<key>ypos</key>
			<real>350</real>
		</dict>
		<key>483C6FB4-737D-46A0-8E6F-07B20BDF3141</key>
		<dict>
			<key>xpos</key>
			<real>430</real>
			<key>ypos</key>
			<real>60</real>
		</dict>
		<key>778C569E-13DE-4E9E-B483-91B012C4D415</key>
		<dict>
			<key>xpos</key>
			<real>430</real>
			<key>ypos</key>
			<real>200</real>
		</dict>
		<key>96E91659-9CCC-4F82-8191-CBD36B1E273B</key>
		<dict>
			<key>xpos</key>
			<real>430</real>
			<key>ypos</key>
			<real>345</real>
		</dict>
		<key>EAE49846-816C-47CD-91C1-1B94217FA617</key>
		<dict>
			<key>xpos</key>
			<real>275</real>
			<key>ypos</key>
			<real>205</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>version</key>
	<string>1.0.0</string>
	<key>webaddress</key>
	<string>https://github.com/socuul/alfred-expressvpn</string>
</dict>
</plist>
